.landing-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.landing-up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100%;
}

.landing-down{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 100%;

}

.titles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hero-title{
  font-size: var(--font-size-xxmammoth);
  font-family: var(--cta-font);
  color: var(--accent);
  margin: 2rem;
  padding: 1rem;
}

.hero-subtitle{
  font-size: var(--font-size-xlarge);
  font-family: var(--cta-font);
  color: var(--text);
}

.home-cta , {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}